<div class="column is-one-fifth">
  <form method="get" action="<%= @action %>">
    <button class="button is-active <%= change_color %> is-pulled-rigth is-responsive ml-6"><%= @title %></button>
  </form>
</div>
