<%# <%= render(CourseComponent.with_collection(Course.includes(:units).all)) %>
 
 
 <% @courses.each do |course| %>


<div>
  <h4><%= course.title %></h4>
  <h4><%= number_to_currency(course.price, :unit => "₽ ") %></h4>
  <h4><%= course.volume %></h4>
</div>
<% end %>